.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.form > :nth-child(2) {
    margin: 10px 0;
}
.form > :nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.selectLebel {
    padding: 5px 0;
    border-radius: 10px;
}
.select {
    padding: 5px 0;
    border-radius: 1px;
    text-align: center;
    border: 1px solid brown;
    color: brown;
}

.select option {
    color: rgb(255, 255, 255);
    background-color: brown;
}
.label{
    color: white;
    padding: 5px 0;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 10px;
    text-align: center;
    transition-property: all;
    transition-duration: .4s;
}

.label:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid brown;
    color: brown;
}
.inputFile {
    display: none;
}